@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nova Flat", sans-serif, "Nova Flat", system-ui;
  user-select: none;
}
